In [1]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1"

)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000027AD5300C88>

In [2]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE Sprint3")

In [3]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1"

)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:

  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sprint3',)
('sys',)
('world',)

In [4]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

In [5]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Chips (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [6]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:

  print(x)

('chips',)

In [7]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE chips ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [8]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Chocolate (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [13]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE chocolate ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [14]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Drinks (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [15]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Drinks ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [17]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Pies (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [18]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Pies ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [19]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE fruit (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [20]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE fruit ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [1]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Veg (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [2]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Veg ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [4]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Cupcakes (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [5]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Cupcakes ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [6]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Soup (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [7]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Soup ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [8]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Milkshake (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [9]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Milkshake ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [11]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Icecream (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [12]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Icecream ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [13]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Water (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [14]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Amthanda@1",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Water ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")